@font-face
  font-family 'Bergen Mono Regular'
  src url('../fonts/BergenMono-Regular.woff') format('woff2'),
      url('../fonts/BergenMono-Regular.woff2') format('woff'),
      url('../fonts/BergenMono-Regular.eot') format('eot')
  font-weight 400
  font-style normal
  
@font-face
  font-family 'Bergen Mono Semibold'
  src url('../fonts/BergenMono-Semibold.woff') format('woff2'),
      url('../fonts/BergenMono-Semibold.woff2') format('woff'),
      url('../fonts/BergenMono-Semibold.eot') format('eot')
  font-weight 500
  font-style normal
  
@font-face
  font-family 'ArticulatCF Light'
  src url('../fonts/ArticulatCF-Light.woff') format('woff2'),
      url('../fonts/ArticulatCF-Light.woff2') format('woff'),
      url('../fonts/ArticulatCF-Light.eot') format('eot')
  font-weight 300
  font-style normal
  
@font-face
  font-family 'ArticulatCF Regular'
  src url('../fonts/ArticulatCF-Regular.woff') format('woff2'),
      url('../fonts/ArticulatCF-Regular.woff2') format('woff'),
      url('../fonts/ArticulatCF-Regular.eot') format('eot')
  font-weight 400
  font-style normal
  
@font-face
  font-family 'ArticulatCF Medium'
  src url('../fonts/ArticulatCF-Medium.woff') format('woff2'),
      url('../fonts/ArticulatCF-Medium.woff2') format('woff'),
      url('../fonts/ArticulatCF-Medium.eot') format('eot')
  font-weight 400
  font-style normal
  