@import 'reset'
@import 'breakpoints'
@import 'colors'
@import 'font-face'
@import 'spacing'
@import 'logo'
@import 'navigation'
@import 'utilities'

body 
  background-color sh900
  color sh000
  font-family 'ArticulatCF Regular', Helvetica Neue, Helvetica, Arial, sans-serif
  font-size 18px
  
a
  color sh000
  text-decoration none
  
  &:hover
    text-decoration underline