@import 'global'
@import 'grid-home-mobile'
@import 'grid-home-desktop'


// To create the sidebar
.mainGrid

  +mediumLarge()
    display grid
    grid-template-columns 240px 1fr

.content
  //grid-area content
  