
.siteNavigation
  
  //position sticky

  .navTrigger,
  .navTriggerIcon
    display none
    
  +smallOnly()
    position fixed
    bottom 200px
    width 70%
    
    .navTrigger,
    .navTriggerIcon
      bottom 0px 
      //border 1px solid red
      display flex
      height 45px
      margin-left 0
      position absolute
      width 60px
    
    .navTrigger
      cursor pointer
      opacity 0
      z-index 3

    .navTriggerIcon
      background-color or500
      padding sMedium
      z-index 2
      transition all 350ms ease-in-out
    
    .navTriggerIcon img
      transition all 350ms ease-in-out
    
    
    .navTrigger:checked,
    .navTrigger:checked + .navTriggerIcon
      margin-left 100%
      
    .navTrigger:checked + .navTriggerIcon img
      transform rotate(180deg)
      
    .navTrigger:checked ~ ul
      margin-left 0

    ul
      width 100%
      background-color or500
      transition all 350ms ease-in-out
      margin 0
      padding sSmall sNormal
      margin-left -100%
  
    a:active,
    a.active
      background-color sh000
      color or500
      
    
  a
    color sh000
    font-family 'Bergen Mono Regular'
    text-decoration none
    display block
    padding sNormal sMedium
    margin sSmall 0
    

      

  li 
    list-style none
  // Desktop
    
  +mediumLarge()
    ul
      margin sLarge 0 0 
      padding 0
      position fixed
    
    a
      padding-left sXLarge
      border-bottom 1px solid transparent
      
    a:not(.active):hover
      color or500
      border-bottom 1px solid or500
      text-decoration none

    a.active
      color or500
      border-left 8px solid or500
      padding-left sXLarge - 10px
  